.contact {
  height: 100vh;
  max-width: 35rem;
  margin: auto;
  &-label {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10px);
  }
  &__content {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: $color-bright;
    }
    SVG {
      height: 8rem;
      width: 8rem;
      margin: 1rem 0;
      fill: $color-bright;
      transition: fill 300ms ease-in-out;
    }
    SVG:hover {
      fill: #76bef1;
    }
  }
}
