


.heading-1 {
    font-family: $font-header;
    font-size: 2.3rem;
    line-height: 1.5em;
}

.section-label{
    position: relative;
    line-height: 1em;
    margin-bottom: 3em;
    font-size: 1.2rem;
    h2{
        font-family: $font-header;
        position: relative;
        z-index: 999;
        color: $color-bright;
    }
    h2:nth-child(2){
        color: $color-text;
        position: absolute;
        top:8px;
        left:5px;
        z-index: 0;
    }
}


.paragraph {
    color:$color-text2;
    font-size: 1.1rem;
    line-height: 1.5em;
}

.navbar-text{

}
