$color_primary: #03120E;
$color_primary-logo:#0D1A17;

$color-text: #65767B;
$color-text2 :#9aa9ad;
$color-bright: #CAA616;

$font-header: "Playfair Display";
$font-main: ("Source Sans Pro", sans-serif);