$color_primary: #020b12;
$color_primary-logo: #0d1a17;

$color-text: #65767b;
$color-text2: #a8bfc4;
$color-bright: #125585;
$color-label: #103855;

$font-header: "Playfair Display";
$font-main: ("Source Sans Pro", sans-serif);
