$color_primary: #020B12;
$color_primary-logo:#0D1A17;

$color-text: #65767B;
$color-text2 :#a8bfc4;
$color-bright: #145b8d;
$color-label: #103855;

$font-header: "Playfair Display";
$font-main: ("Source Sans Pro", sans-serif);